<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <h1>{{mainName}}</h1>
    <h3>{{subTitle}}</h3>
    <form action="">
        <input type="text" id="name" placeholder="enter your name">
        <button id="btn">Klik</button>      
    </form>
<div id="div"></div>

    <script src="./../js/func.js"></script>
</body>
</html>